### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

Primero se calcula el ingreso total de los productos vendidos por cada tienda

In [2]:
total_ventas_tienda_1 = tienda['Precio'].sum()
print(f'El total de las ventas de la tienda 1 es: $ {total_ventas_tienda_1}')

total_ventas_tienda_2 = tienda2['Precio'].sum()
print(f'El total de las ventas de la tienda 2 es: $ {total_ventas_tienda_2}')

total_ventas_tienda_3 = tienda3['Precio'].sum()
print(f'El total de las ventas de la tienda 1 es: $ {total_ventas_tienda_3}')

total_ventas_tienda_4 = tienda4['Precio'].sum()
print(f'El total de las ventas de la tienda 1 es: $ {total_ventas_tienda_4}')

El total de las ventas de la tienda 1 es: $ 1150880400.0
El total de las ventas de la tienda 2 es: $ 1116343500.0
El total de las ventas de la tienda 1 es: $ 1098019600.0
El total de las ventas de la tienda 1 es: $ 1038375700.0

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [57]:

categorias_tienda_1 = tienda.groupby('Categoría del Producto')['Categoría del Producto'].count()

print(f'las cantidad de productos vendidos por categoria de la tienda 1 son :\n{categorias_tienda_1}\n\n')

categorias_tienda_2 = tienda2.groupby('Categoría del Producto')['Categoría del Producto'].count()
print(f'las cantidad de productos vendidos por categoria de la tienda 2 son :\n{categorias_tienda_2}\n\n')

#categorias_tienda_3 = tienda3.groupby('Categoría del Producto')['Categoría del Producto'].count()
#print(f'las cantidad de productos vendidos por categoria de la tienda 3 son :\n{categorias_tienda_3}\n\n')

#categorias_tienda_4 = tienda4.groupby('Categoría del Producto')['Categoría del Producto'].count()
#print(f'las cantidad de productos vendidos por categoria de la tienda 4 son :\n{categorias_tienda_4}\n\n')

las cantidad de productos vendidos por categoria de la tienda 1 son :
Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
Name: Categoría del Producto, dtype: int64


las cantidad de productos vendidos por categoria de la tienda 2 son :
Categoría del Producto
Artículos para el hogar    181
Deportes y diversión       275
Electrodomésticos          305
Electrónicos               422
Instrumentos musicales     224
Juguetes                   313
Libros                     197
Muebles                    442
Name: Categoría del Producto, dtype: int64

In [60]:
#buscando el mas y menos  vendido
if categorias_tienda_1.max():
  print(f'La categoria mas vendida de la tienda 1 es: {categorias_tienda_1.idxmax()}')
else:
  print('No hay categorias vendidas')

if categorias_tienda_1.min():
  print(f'La categoria menos vendida de la tienda 1 es: {categorias_tienda_1.idxmin()}\n')
else:
  print('No hay categorias vendidas')

#tienda 2
if categorias_tienda_2.max():
  print(f'La categoria mas vendida de la tienda 2 es: {categorias_tienda_2.idxmax()}')
else:
  print('No hay categorias vendidas')

if categorias_tienda_2.min():
  print(f'La categoria menos vendida de la tienda 2 es: {categorias_tienda_2.idxmin()}')
else:
  print('No hay categorias vendidas')

La categoria mas vendida de la tienda 1 es: Muebles
La categoria menos vendida de la tienda 1 es: Artículos para el hogar

La categoria mas vendida de la tienda 2 es: Muebles
La categoria menos vendida de la tienda 2 es: Artículos para el hogar

# 3. Calificación promedio de la tienda

In [6]:
calificacion_tienda_1 = tienda['Calificación'].sum()/tienda['Calificación'].count()
print(f'La calificación promedio de la tienda 1 es: {calificacion_tienda_1}\n\n')

calificacion_tienda_2 = tienda2['Calificación'].sum()/tienda2['Calificación'].count()
print(f'La calificación promedio de la tienda 2 es: {calificacion_tienda_2}\n\n')

calificacion_tienda_3 = tienda3['Calificación'].sum()/tienda3['Calificación'].count()
print(f'La calificación promedio de la tienda 3 es: {calificacion_tienda_3}\n\n')

calificacion_tienda_4 = tienda4['Calificación'].sum()/tienda4['Calificación'].count()
print(f'La calificación promedio de la tienda 4 es: {calificacion_tienda_4}\n\n')

La calificación promedio de la tienda 1 es: 3.976685036032217


La calificación promedio de la tienda 2 es: 4.037303942348453


La calificación promedio de la tienda 3 es: 4.048325561678677


La calificación promedio de la tienda 4 es: 3.9957591178965224

# 4. Productos más y menos vendidos

In [19]:
productos_tienda_1 = tienda.groupby('Producto')['Producto'].count()
print(f'las cantidad de productos vendidos de la tienda 1 son :\n{productos_tienda_1}\n\n')

las cantidad de productos vendidos de la tienda 1 son :
Producto
Ajedrez de madera              49
Armario                        60
Asistente virtual              40
Auriculares                    50
Auriculares con micrófono      33
Balón de baloncesto            55
Balón de voleibol              42
Batería                        53
Bicicleta                      54
Bloques de construcción        56
Cama box                       44
Cama king                      44
Carrito de control remoto      52
Celular ABXY                   33
Ciencia de datos con Python    39
Cubertería                     52
Cubo mágico 8x8                44
Cuerda para saltar             40
Dashboards con Power BI        42
Dinosaurio Rex                 40
Estufa                         45
Guitarra acústica              46
Guitarra eléctrica             47
Impresora                      54
Iniciando en programación      41
Iphone 15                      49
Juego de mesa                  43
Kit de bancas                  44
Lavadora de ropa               47
Lavavajillas                   48
Mesa de centro                 44
Mesa de comedor                40
Mesa de noche                  56
Microondas                     60
Mochila                        39
Modelado predictivo            51
Muñeca bebé                    40
Olla de presión                35
Pandereta                      36
Refrigerador                   54
Secadora de ropa               58
Set de ollas                   43
Set de vasos                   41
Silla de oficina               46
Sillón                         41
Smart TV                       44
Smartwatch                     43
Sofá reclinable                46
TV LED UHD 4K                  60
Tablet ABXY                    42
Vaso térmico                   54
Name: Producto, dtype: int64

In [31]:
tuplas_productos_tienda_1 = []# list(zip(productos_tienda_1.index, productos_tienda_1.values))
for grupo, valor in productos_tienda_1.items():

[('Ajedrez de madera', 49),
 ('Armario', 60),
 ('Asistente virtual', 40),
 ('Auriculares', 50),
 ('Auriculares con micrófono', 33),
 ('Balón de baloncesto', 55),
 ('Balón de voleibol', 42),
 ('Batería', 53),
 ('Bicicleta', 54),
 ('Bloques de construcción', 56),
 ('Cama box', 44),
 ('Cama king', 44),
 ('Carrito de control remoto', 52),
 ('Celular ABXY', 33),
 ('Ciencia de datos con Python', 39),
 ('Cubertería', 52),
 ('Cubo mágico 8x8', 44),
 ('Cuerda para saltar', 40),
 ('Dashboards con Power BI', 42),
 ('Dinosaurio Rex', 40),
 ('Estufa', 45),
 ('Guitarra acústica', 46),
 ('Guitarra eléctrica', 47),
 ('Impresora', 54),
 ('Iniciando en programación', 41),
 ('Iphone 15', 49),
 ('Juego de mesa', 43),
 ('Kit de bancas', 44),
 ('Lavadora de ropa', 47),
 ('Lavavajillas', 48),
 ('Mesa de centro', 44),
 ('Mesa de comedor', 40),
 ('Mesa de noche', 56),
 ('Microondas', 60),
 ('Mochila', 39),
 ('Modelado predictivo', 51),
 ('Muñeca bebé', 40),
 ('Olla de presión', 35),
 ('Pandereta', 36),
 ('Refrigerador', 54),
 ('Secadora de ropa', 58),
 ('Set de ollas', 43),
 ('Set de vasos', 41),
 ('Silla de oficina', 46),
 ('Sillón', 41),
 ('Smart TV', 44),
 ('Smartwatch', 43),
 ('Sofá reclinable', 46),
 ('TV LED UHD 4K', 60),
 ('Tablet ABXY', 42),
 ('Vaso térmico', 54)]

el producto mas vendio de la tienda 1 es: ('Vaso térmico', np.int64(54))

# 5. Envío promedio por tienda

In [34]:
envio_promedio_tienda_1 = tienda['Costo de envío'].sum()/tienda['Costo de envío'].count()
print(f'El costo de envio promedio de la tienda 1 es: ${envio_promedio_tienda_1}\n\n')

envio_promedio_tienda_2 = tienda2['Costo de envío'].sum()/tienda2['Costo de envío'].count()
print(f'El costo de envio promedio de la tienda 2 es: ${envio_promedio_tienda_2}\n\n')

envio_promedio_tienda_3 = tienda3['Costo de envío'].sum()/tienda3['Costo de envío'].count()
print(f'El costo de envio promedio de la tienda 3 es: ${envio_promedio_tienda_3}\n\n')

envio_promedio_tienda_4 = tienda4['Costo de envío'].sum()/tienda4['Costo de envío'].count()
print(f'El costo de envio promedio de la tienda 4 es: ${envio_promedio_tienda_4}\n\n')

El costo de envio promedio de la tienda 1 es: $52015.16949152543


El costo de envio promedio de la tienda 2 es: $25216.235693090293


El costo de envio promedio de la tienda 3 es: $24805.680373039424


El costo de envio promedio de la tienda 4 es: $23459.457167090754